header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 30px 30px 30px 1fr 30px 30px;
    justify-items: center;
    column-gap: 2%;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.first {
    grid-area: 1 / 1;
}

.second {
    grid-area: 1 / 2;
}

.third {
    grid-area: 1 / 3;
}

nav {
    grid-column: 1 / -1;
    grid-row: 2;
    height: 30px;
    margin-bottom: 2%;
}

#artf {
    display: grid;
    grid-template-rows: repeat(6, 10%);
    grid-template-columns: 1fr 2fr;
    column-gap: 2%;
    row-gap: 20px;
    margin: 0 auto;
}

#recommendations {
    width: 30%;
    float: left;
}

#comments {
    width: 70%;
    float: right;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 40px;
}

footer {
    background-color: #e6e6e6;
    display: grid;
    grid-template-rows: auto auto;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-top: 80px;
    padding: 40px 20px;
}

#footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}