#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 100%;
}

#links li a {
    color: #000000;
    text-decoration: none;
}

/* Article header */
#headerf {
    grid-area: 2 / 2;
    font-size: 42px;
    line-height: 1.2;
}

#pf {
    grid-area: 2 / 2;
    font-size: 22px;
    line-height: 1.5;
}


#main__txt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    max-width: 720px;
    position: relative;
    overflow: hidden;
    height: 200px;
}

#main__txt p {
    font-size: 18px;
    line-height: 1.6;
}


#main__icons {
    display: flex;
    gap: 1%;
    margin-top: 20px;
}

#main__iconone,
#main__icontwo,
#main__iconthree {
    display: flex;
    width: 33%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
}

#main__iconone a,
#main__icontwo a,
#main__iconthree a {
    text-decoration: none;
    color: white;
}


.comment {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 15px;
    padding: 15px 0;
}

.comment .name {
    font-weight: bold;
}

.comment .date {
    font-size: 13px;
    color: #777;
}

.comment .text {
    font-size: 15px;
}


#footer__first,
#footer__second,
#footer__third {
    display: flex;
    flex-direction: column;
    gap: 15px;
}